footer{
    div{
        h3{
            font-size: 2rem;
            margin: 100px 20px;
        }
    }
    div{

        div{

            a{
                margin-left: 10px;
                i{
                    color: yellow;
                }
            }
        }
    }
}